#root{
 max-width: 1280px;
 margin:auto;
 margin-top:50px;
 padding:1rem;
 outline:auto;
}

body {
    background-color:rgb(13, 182, 182);
    margin-right: 300px;
}
.App {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(1, 19, 19);
    
    max-width: 600px;
    margin:auto;
  }
  
  .todo-list {
    list-style-type: none;
    color: black;
    margin:auto;
    padding: 0;
  }
  h2,
  label{
    font-weight: bold;
  }
  .button{
    color:grey;
   
  }
  
  .todo-item {
    background-color:gray;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .todo-item.complete {
    text-decoration: line-through;
  }
  
  .todo-item.editing {
    background-color:black;
  }
  
  .todo-item input[type="checkbox"] {
    margin-right: 30px;
  }